.profile__info_text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .profile__info_text {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    grid-column-end: 3;
    grid-column-start: 1;
  }
}
