.profile__ellipse {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0 30px 0 0;
}

@media screen and (max-width: 768px) {
  .profile__ellipse {
    align-self: center;
    margin: 0;
  }
}
